@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

:root {
  --font-highLight: 'Oswald', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow: hidden;
  font-weight: 300;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #222831;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
}

nav a {
  transition: all 0.2s;
  color: #ffffff;
}

nav a:hover {
  color: #3f94b9;
}

.nav_left {
  font-size: 1.2rem;
  display: flex;
}

.nav i {
  font-size: 1rem;
}

.nav_right {
  font-size: 1.2rem;
  display: flex;
  gap: 2rem;
}

.nav_right i {
  margin-right: 0.4rem;
}

.btn_social {
  margin-top: 3rem;
  background-color: transparent;
  width: 240px;
  height: 50px;
  transition: all 0.4s;
}

.btn_social:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menuTop {
  display: flex;
  gap: 7rem;
  margin: 2rem 0;
}

.menuDown {
  display: flex;
  gap: 7rem;
}

.commonMenu {
  font-family: var(--font-highLight);
  line-height: 300px;
  text-align: center;
  font-size: 4rem;
  border-bottom-left-radius: 25px;
  box-shadow: 33px 25px 51px -30px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 33px 25px 51px -30px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 33px 25px 51px -30px rgba(0, 0, 0, 0.55);
  width: 400px;
  height: 300px;
  transition: all 0.4s;
  background-color: rgba(240, 203, 117, 0.9);
}

.commonMenu:hover {
  border-bottom-left-radius: 30%;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-around;
  color: white;
  position: absolute;
  bottom: 0;
  background-color: #222831;

  backdrop-filter: blur(40px);
  width: 100%;
  height: 85px;
}

.footer {
  display: flex;
  align-items: center;
}

.footer h2 {
  font-size: 1rem;
}
