@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;700&family=Noto+Sans+KR:wght@300;500;700&display=swap');
:root {
  --font-highLight: 'Oswald', sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
}

nav a {
  transition: all 0.2s;
  color: #ffffff;
}

nav a:hover {
  color: #3f94b9;
}

.nav_left {
  font-size: 1.2rem;
  display: flex;
}

.nav i {
  font-size: 1rem;
}

.nav_right {
  font-size: 1.2rem;
  display: flex;
  gap: 2rem;
}

.nav_right i {
  margin-right: 0.4rem;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background: url(https://images.unsplash.com/photo-1442033025416-c6a7da752d71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2177&q=80)
    no-repeat;
  /* background: rgb(35, 64, 149);
  background: linear-gradient(
    90deg,
    rgba(35, 64, 149, 1) 0%,
    rgba(77, 209, 255, 0.829656862745098) 100%
  ); */

  background-position: center;
  background-size: cover;
  /* backdrop-filter: bluserProfileur(2px); */
  margin: 0;
  padding: 0;
}

section {
  font-family: 'Hahmlet', serif;
}

input {
  font-family: inherit;
}

.myPage {
  gap: 1rem;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: 600px;
  padding: 3rem;
  background: rgba(85, 81, 81, 0.4);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.userProfile img {
  width: 200px;
  border-radius: 100%;
}

.user {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.userNickName {
  padding: 0.4rem 0;
  width: 25vw;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  border-style: none;
}

.btn-nickName-update {
  padding: 0.4rem 0.8rem;
  margin-bottom: 10px;
  border-radius: 4px;
  border-style: none;
}

.btn-nickName-update:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.userEmail {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);

  text-align: center;
}

.idCheck {
  color: white;
  text-align: center;
}

.userInfo {
  padding: 0 1rem;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  display: flex;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.handleUserInfo {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.handleUserInfo a {
  padding: 0.4rem 1rem;
  text-align: center;
  background: white;
  transition: all 0.2s;
}

.handleUserInfo a:hover {
  background: black;
  color: white;
}

.handleUserInfo li:nth-child(2) a:nth-child(2) {
  margin-left: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(40px);
  width: 100%;
  height: 85px;
}

.footer h2 {
  font-size: 1rem;
}

.userNickNameInput {
  display: flex;
  width: 90%;
  gap: 1rem;
}

.userinfoWrapper {
  gap: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editSection {
  width: 100%;
  text-align: end;
}
