<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Rodminjo's portfolio main pages</title>
    <script>
      function setClock(){
        var dateInfo = new Date();
        var hour = modifyNumber(dateInfo.getHours());
        var min = modifyNumber(dateInfo.getMinutes());
        var sec = modifyNumber(dateInfo.getSeconds());
        document.getElementById("time").innerHTML = hour + ":" + min  + ":" + sec;
      };
      function modifyNumber(time){
        if(parseInt(time)<10){
          return "0"+ time;
        }
        else
          return time;
      };

      window.onload = function(){
        setClock();
        setInterval(setClock,1000); //1초마다 setClock 함수 실행
      };

    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="clock">
        <a href="/main">
          <h1>Todo list</h1>
        </a>
        <div id="time"></div>
      </div>

      <div class="social_Login">
        <button class="btn_social">
          <a href="/oauth2/authorization/naver">
          <img src="/images/assets/btn_naver.png" />
        </a>
        </button>
        <button class="btn_social">
          <a href="/oauth2/authorization/google">
          <img src="/images/assets/btn_google.png" />
          </a>
        </button>
      </div>
      <th:block th:replace="layout/footer::footerFragment"></th:block>
    </div>
  </body>
</html>
