<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/posts-save.css" />
    <title>Post 글쓰기</title>
    <th:block th:replace="layout/config::configFragment"></th:block>
    <script defer src="/js/posts-save-picture.js"></script>
    <script defer src="/js/posts-save-btn.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <th:block th:replace="layout/header::headerFragment"></th:block>
      <main class="boardSubmitPage">
        <section class="leftSection">
          <input class="boardTitle" type="text" value="title" id="title"/>
          <textarea class="boardContent" id="content">content</textarea>
        </section>
        <section class="rightSection">
          <div class="inputRight">
            <div class="slider">
              <i class="fa-solid fa-arrow-right right hidden"></i>
              <i class="fa-solid fa-arrow-left left hidden"></i>
              <div class="sliderImages">
                <p>이미지를 업로드해주세요</p>
              </div>
            </div>
            <form enctype="multipart/form-data" id="form">
              <input type="file" multiple accept="image/*" class="multipleImage" id="files"/>
            </form>
          </div>
          <div class="btnWrapper">
            <button id="btn-save">submit</button>
            <button onclick="location.href='/posts'">cancel</button>
          </div>
        </section>
      </main>
      <th:block th:replace="layout/footer::footerFragment"></th:block>
    </div>
  </body>
</html>
