<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/timer-index.css" />
    <title>Timer</title>
    <th:block th:replace="layout/config::configFragment"></th:block>
    <script defer src="/js/timer-index-clock.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <th:block th:replace="layout/header::headerFragment"></th:block>
      <section class="timerSection">
      <h3>Timer</h3>
          <div id="time" class="time"></div>
          <div id="date" class="date"></div>
        <div>
          <div class="dateAndBtn">
            <input class="dateInput" type="date" th:value="${date}" onchange="dateChange()" />
            <button class="timerBtn" onclick="addNewTodo()">측정시작</button>
          </div>
          <div class="emptyTimer" th:if="${timers.isEmpty()}">타이머를 시작하세요</div>
          <div class="table" th:unless="${timers.isEmpty()}">
            <table>
              <thead>
                <tr class="thead-row">
                  <th>Category</th>
                  <th>Title</th>
                  <th>Record</th>
                </tr>
              </thead>
              <thead class="thead-col">
              <th:block >
                <tr th:each="timer, i:${timers}">
                    <th th:text="${i.index}+1"></th>
                </tr>
              </th:block>
              </thead>
              <tbody>
                <td>카테고리..</td>
                <td>타이틀</td>
                <td>....date</td>
              </tbody>
              <th:block th:each="timer:${timers}">
                <tbody>
                <input type="hidden" th:value="${timer.id}">
                <td th:text="${timer.category}"></td>
                <td><a th:href="@{/timer/update/{timerId}(timerId=${timer.id})}" th:text="${timer.title}">title</a></td>
                <td th:text="${timer.convertingDoingTime}"></td>
                </tbody>
              </th:block>
            </table>
          </div>
        </div>
      </section>
      <th:block th:replace="layout/footer::footerFragment"></th:block>
    </div>
  </body>
</html>
